include ../mixins/forms.jade
extends ../layout

block content
  - var action = base + '/' +  model
  - action += id ? '/' + id : ''

  h2= ( (id) ? "Edit " : "New " ) + ( (name) ? name : model )

  #form
    form.form-horizontal(method="post", action=action, role="form" class="model-form")
      input(type="hidden", name="_csrf", value="#{_csrf}")
      input(type="hidden", name="_doc_id", value=id)

      each f in fields
        //- console.log(f)
        +makeField(f)
      .form-group
        .col-sm-offset-2.col-sm-10
          button(type="submit" class="btn btn-default btn-primary admin-save") Save #{model}
          a.btn(href='#{base}/#{model}', title="cancel") Cancel
  block javascripts
    script(type='text/javacript', src='http://cdn.jsdelivr.net/select2/3.4.8/select2.min.js')
//
            if !doc.isNew
              #del-btn
                form(action=action+'/delete' method="post")
                  button.btn.btn-danger(type='submit') Delete

