extends ../layout

block content
  #list
    #list-top
      h2= title
      #new
        a.btn.btn-default(href="#{base}#{path}/new", role="button") New +

    table.table.table-striped.table-hover.table-condensed.admin
      thead
        tr
          th
            | Click to edit / delete
          each field in fields
            th= field
      tbody.admin
        if (data)
          each entry in data
            tr
              td
                a.btn.btn-default.admin-edit(href="#{base}#{path}/#{entry.id}/edit") edit
                a.btn.btn-default.delete-model.admin-edit(href="#{base}#{path}/#{entry.id}/delete") delete
              each field, fieldIndex in fields
                if fieldIndex == 'title'
                  td
                    a(href="#{base}#{path}/#{entry.id}")= entry.get(fieldIndex)
                else
                  td= entry.get(fieldIndex)
