extends ../layout

block content
  #list
    #list-top
      h2= title
      #new
        a.btn.btn-xs.btn-default(href="#{base}#{path}/new", role="button") New &raquo;

    //- .table-bordered
    table.table.table-striped.table-hover.table-condensed
      thead
        tr
          th
            | Click to edit
          th
            | Click to delete
          each f in fields
            th= f.label
      tbody
        each entry in data
          tr
            td
              a.btn.btn-xs.btn-default(href="#{base}#{path}/#{entry.id}/edit") edit
            td
              a.btn.btn-xs.btn-default.delete-model(href="#{base}#{path}/#{entry.id}/delete") delete
            each f in fields
              td= entry.selectedValues[f.name]

