#flash
  if messages.errors
    .alert.alert-danger.animated.fadeIn
      button.close(type='button', data-dismiss='alert') ×
      for error in messages.errors
        if (typeof(error) == 'object')
          div= error.msg
        else
          div= error
  if messages.info
    .alert.alert-info.animated.fadeIn
      button.close(type='button', data-dismiss='alert') ×
      for info in messages.info
        if (typeof(info) == 'object')
          div= info.msg
        else
          div= info
  if messages.success
    .alert.alert-success.animated.fadeIn
      button.close(type='button', data-dismiss='alert') ×
      for success in messages.success
        if (typeof(success) == 'object')
          div= success.msg
        else
          div= success
