extends layout

block content
  h2.page-header Fund Me
  form#fundMeWizard(action='#')
    h3 #{form.aboutYou.title}
    fieldset
      fieldset
        h4 #{form.aboutYou.gender.label}
        each choice, cVal in form.aboutYou.gender.choices
          div.radio
            label #{choice}
              input(type='radio', name=form.aboutYou.gender.name, value=cVal)
      fieldset
        h4 #{form.aboutYou.age.label}
        each choice, cVal in form.aboutYou.age.choices
          div.radio
            label #{choice}
              input(type='radio', name=form.aboutYou.age.name, value=cVal)
      p (*) Mandatory

    h3 #{form.purpose.title}
    fieldset
      fieldset
        h4 #{form.purpose.needed_for.label}
        each choice, cVal in form.purpose.needed_for.choices
          div.radio
            label #{choice}
              input(type='radio', name=form.purpose.needed_for.name, value=cVal)
      fieldset
        h4 #{form.purpose.investing_own.label}
          div.checkbox
            label #{choice}
              input(type='checkbox', name=form.purpose.investing_own.name, value=cVal)
      p (*) Mandatory


