extends layout

block content
  section.landing
    .landing-header
      h1.title Startlight helps you grow your business
          h2.subtitle Helping you navigate the $200 million available in government programs for small businesses in Puerto Rico.
          a.btn(href='/fundme') Start Now!

  section.how-it-works.section-title.col-lg-12
      h1 How Startlight Works:
      .col-lg-4
        img(src=CDN("/img/answer.png"))
        h3 Answer
        p 10 simple questions about you and your business.
      .col-lg-4
        img(src=CDN("/img/filter.png"))
        h3 2. Filter
        p Our app filters available programs from private and public agencies and organizations.
      .col-lg-4
        img(src=CDN("/img/apply.png"))
        h3 3. Review & Apply
        p Review your choices and apply to the ones that interest you.
  section.how-can-we-help.section-title.col-lg-12
      h1 How can we help you?
        .col-lg-6.col-lg-offset-3
          a.btn.help-you(href='/fundme') I want to start a business
          a.btn.help-you(href='/fundme') I want to grow my business
          a.btn.help-you(href='/fundme') I want to open a new location
          a.btn.help-you(href='/fundme') I want to learn about available incentives
  section.what-you-get.col-lg-12
      h1 What do you get?
      h3 We provide results from over 10 agencies and 100+ programs.
      img(src=CDN("/img/options.png"))
  section.who-have-we-helped.col-lg-12
      h1 Who have we helped?
      .testimonials.left
        img(src=CDN("/img/applications.png"))
        p "Startlight helped me find financing to hire new employees."
      .right
        img(src=CDN("/img/applications.png"))
        p “Using Startlight I found money to hire interns  that I had never heard of before!”
        a.btn(href='/fundme') Get Started!
