// Attributes brought in implicitly
// See http://jade-lang.com/reference/#mixins

mixin makeField(formOptions)
  div(id=formOptions.name class="form-group col-sm-12")
    if formOptions.widget == "textArea"
      +textAreaField(formOptions)
    else if formOptions.widget == "select" || formOptions.widget == "multiSelect"
      +choiceSelectField(formOptions)
    else if formOptions.widget == "radio" || formOptions.widget == "checkbox"
      +choiceField(formOptions)
    else if formOptions.widget == "arrayTextField"
      +arrayTextField(formOptions)
    else
      +textField(formOptions)
  if formOptions.choiceOther
    div(id=formOptions.name + "Other" class="choiceOther form-group col-sm-12")
      +choiceOther(formOptions)

mixin choiceSelectField(formOptions)
  +fieldLabel(formOptions)
  div(class=formOptions.fieldClasses || "col-sm-4")
    select(class="form-control" name=formOptions.name multiple=(formOptions.widget == "multiSelect"))
      each choice, cVal in formOptions.choices
        // TODO look at exploding classes
        if _.isArray(formOptions.value)
          option(value=cVal selected=(formOptions.value.indexOf(cVal) != -1)) #{choice}
        else
          option(value=cVal selected=(formOptions.value == cVal)) #{choice}

mixin choiceField(formOptions)
  +fieldLabel(formOptions)
  div(class=formOptions.fieldClasses || "col-sm-4")
    each choice, cVal in formOptions.choices
      - var checkedBox = false;
      if (formOptions.value)
        each val, index in formOptions.value
          if (val == cVal)
            - checkedBox = true
      div(class=formOptions.widget)
        input(type=formOptions.widget, name=formOptions.name, value=cVal checked=checkedBox)
        label #{choice}

mixin textField(formOptions)
  +fieldLabel(formOptions)
  div(class=formOptions.fieldClasses || "col-sm-10 col-lg-6")
    - var req = (formOptions.required == true || formOptions.allowNull == false) ? true : false
    if (formOptions.widget == 'date' && formOptions.value)
      - var year = formOptions.value.getFullYear()
      - var month = formOptions.value.getMonth() + 1
      - var day = formOptions.value.getDate()
      input(type=formOptions.widget required=req name=formOptions.name value=(year+'-'+month+'-'+day) || '' class="form-control" placeholder=formOptions.placeholder)
    else
      input(type=formOptions.widget required=req name=formOptions.name value=formOptions.value || '' class="form-control" placeholder=formOptions.placeholder)

mixin textAreaField(formOptions)
  +fieldLabel(formOptions)
  div(class=formOptions.fieldClasses || "col-sm-10 col-lg-6")
    - var req = (formOptions.required == true || formOptions.allowNull == false) ? true : false
    textarea(class="form-control" required=req rows="3" name=formOptions.name) #{formOptions.value || ''}

mixin arrayTextField(formOptions)
  - var req = (formOptions.required == true || formOptions.allowNull == false) ? true : false
  +fieldLabel(formOptions)
  div(class=formOptions.fieldClasses || "col-sm-10 col-lg-6")
    button(class="array-text-field" name=formOptions.name type="button") Add another
    input(type="text" required=req name=formOptions.name+'[]' value=formOptions.value || '' class="form-control array-text-field" placeholder=formOptions.placeholder)
[]
// Helpers
mixin choiceOther(formOptions)
  label(for=formOptions.name class="col-sm-2 col-lg-4 control-label") Other
  div(class="col-sm-10 col-lg-6")
    - var req = (formOptions.required == true || formOptions.allowNull == false) ? true : false
    if formOptions.widget == 'checkbox'
      input(type="text" name=formOptions.name value=formOptions.otherValue || '' class="form-control col-lg-6" placeholder=formOptions.placeholder)
    else
      input(type="text" name=formOptions.name + "Other" value=formOptions.otherValue || '' class="form-control col-lg-6" placeholder=formOptions.placeholder)

mixin fieldLabel(formOptions)
  - var fieldLabelClasses = formOptions.fieldLabelClasses || 'col-sm-2 col-lg-4'
  label(for=formOptions.name class=fieldLabelClasses + " control-label") #{formOptions.label}
    if formOptions.required == true || formOptions.allowNull == false
      span.required *
    if formOptions.tooltip
      a(data-toggle="tooltip" data-placement="left" title=formOptions.tooltip)
    i.fa.fa-question-circle
