// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins

mixin makeField(formOptions)
  .form-group.col-sm-12
    if formOptions.widget == "textArea"
      +textAreaField(formOptions)
    else if formOptions.widget == "select" || formOptions.widget == "multiSelect"
      +choiceSelectField(formOptions)
    else if formOptions.widget == "radio" || formOptions.widget == "checkbox"
      +choiceField(formOptions)
    else
      +textField(formOptions)
  if formOptions.choiceOther
    +choiceOther(formOptions)

mixin choiceSelectField(formOptions)
  +fieldLabel(formOptions)
  div(class="col-sm-4")
    select(class="form-control" name=formOptions.name multiple=(formOptions.widget == "multiSelect"))
      each choice, cVal in formOptions.choices
        // TODO look at exploding classes
        option(value=cVal selected=(formOptions.value == cVal)) #{choice}

mixin choiceField(formOptions)
  +fieldLabel(formOptions)
  div(class="col-sm-4")
    each choice, cVal in formOptions.choices
      - var checkedBox = false;
      if (formOptions.value)
        each val, index in formOptions.value
          if (val == cVal)
            - checkedBox = true
      div(class=formOptions.widget)
        input(type=formOptions.widget, name=formOptions.name, value=cVal checked=checkedBox)
        label #{choice}

mixin textField(formOptions)
  +fieldLabel(formOptions)
  div(class="col-sm-10")
    input(type=formOptions.widget name=formOptions.name value=formOptions.value || '' class="form-control" placeholder=formOptions.placeholder)

mixin textAreaField(formOptions)
  +fieldLabel(formOptions)
  div(class="col-sm-10")
    textarea(class="form-control" rows="3" name=formOptions.name) #{formOptions.value || ''}

// Helpers
mixin choiceOther(formOptions)
  .choiceOther.form-group.col-sm-12
    label(for=formOptions.name class="col-sm-2 control-label") #{formOptions.label}: Other
    div(class="col-sm-10")
      if formOptions.widget == 'checkbox'
        input(type="text" name=formOptions.name value=formOptions.otherValue || '' class="form-control" placeholder=formOptions.placeholder)
      else
        input(type="text" name=formOptions.name + "-other" value=formOptions.otherValue || '' class="form-control" placeholder=formOptions.placeholder)

mixin fieldLabel(formOptions)
  label(for=formOptions.name class="col-sm-2 control-label") #{formOptions.label}
    if formOptions.required == true || formOptions.allowNull == false
      span.required *
