// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins
mixin choiceField(formOptions)
  .form-group
    h4 #{formOptions.label}
    each choice, cVal in formOptions.choices
      // TODO look at exploding classes
      div(class=formOptions.type)
        label #{choice}
          input(type=formOptions.type, name=formOptions.name, value=cVal)

mixin textField(formOptions)
  .form-group
    label(for=formOptions.name class="col-sm-2 control-label") #{formOptions.label}
    div(class="col-sm-10")
      input(type=formOptions.type class="form-control" placeholder=formOptions.placeholder)
