// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins

mixin makeField(formOptions)
  if formOptions.widget == "textArea"
    +textAreaField(formOptions)
  else if formOptions.widget == "select" || formOptions.widget == "multiSelect"
    +choiceSelectField(formOptions)
  else if formOptions.widget == "radio" || formOptions.widget == "checkbox"
    +choiceField(formOptions)
  else
    +textField(formOptions)

mixin choiceSelectField(formOptions)
  .form-group
    label(for=formOptions.name class="col-sm-2 control-label") #{formOptions.label}
    div(class="col-sm-4")
      select(class="form-control" name=formOptions.name multiple=(formOptions.widget == "multiSelect"))
        each choice, cVal in formOptions.choices
          // TODO look at exploding classes
          option(value=cVal) #{choice}

mixin choiceField(formOptions)
  .form-group
    //h4 #{formOptions.label}
    label(for=formOptions.name class="col-sm-2 control-label") #{formOptions.label}
    div(class="col-sm-4")
      each choice, cVal in formOptions.choices
        // TODO look at exploding classes
        div(class=formOptions.type)
          input(type=formOptions.widget, name=formOptions.name, value=cVal)
          label #{choice}

mixin textField(formOptions)
  .form-group
    label(for=formOptions.name class="col-sm-2 control-label") #{formOptions.label}
    div(class="col-sm-10")
      input(type=formOptions.widget name=formOptions.name class="form-control" placeholder=formOptions.placeholder)

mixin textAreaField(formOptions)
  .form-group
    label(for=formOptions.name class="col-sm-2 control-label") #{formOptions.label}
    div(class="col-sm-10")
      textarea(class="form-control" rows="3" name=formOptions.name)
