// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins

mixin searchResultNav(searchResult)
  ul(class="nav nav-tabs nav-justified search-tabs results-tabs" role="tablist")
    li(class="active search-tab")
      a(href="#" id="all") Todos
    each benefitTypeName, benefitTypeMachineName in benefitTypes
      if (benefitTypeMachineName !== 'other')
        li.search-tab
          a(href="#" id=benefitTypeMachineName)= benefitTypeName

    li(class="search-tab")
      a(href="#" id="other") Otros


mixin renderResultList(searchResult)
  - console.log(searchResult);
  - console.log(benefitTypes);
  - var benefitTypeName = 'All'
  - var benefitTypeMachineName = 'all'
  div(class=benefitTypeMachineName + '-container')
    +renderResultSubset(searchResult, benefitTypeName, benefitTypeMachineName)

mixin renderStructuredResultList(searchResult)
  each benefitTypeName, benefitTypeMachineName in benefitTypes
    - var searchResultSubset = searchResult[benefitTypeMachineName];
    - var rcKey = "%s " + benefitTypeMachineName;
    - var resCountHeader = __n(rcKey, rcKey, _.keys(searchResultSubset).length);
    div(class=benefitTypeMachineName + '-container')
      +renderResultSubset(searchResultSubset, benefitTypeName, benefitTypeMachineName, resCountHeader)

mixin renderResultListHeader
  div(class="col-md-8 col-description-header")
    h4 Recursos

  div(class="col-md-2 col-deadline-header")
    h4 Vencimiento

  div(class="col-md-2 col-est-time-header")
    h4 Tiempo estimado de finalización

mixin renderResultSubset(benefitProgList, benefitTypeName, benefitTypeMachineName, resCountHeader)
  if (resCountHeader)
    div(class="row row-benefit-count row-" + benefitTypeMachineName)
      h3= resCountHeader

  div(class="row row-header row-" + benefitTypeMachineName)
    +renderResultListHeader

  div(class="panel-group" id="accordion")
    each progDesc, progName in benefitProgList
      - oppCount++;
      div(class="panel panel-default")
        div(class="row row-" + benefitTypeMachineName)
          div(class="col-md-8 col-description col-" + progName)
            if meta.type != 'confirmPicked'
              a(href="#" + progName + "Add" class="btn btn-small addItem" data-bname=progName data-btype=benefitTypeMachineName) agregar
            a(href="#" + oppCount  class="benefit-title" data-toggle="collapse" data-parent="#accordion")= progDesc.title
              i.fa.fa-sort-desc
            div(id=oppCount class="panel-collapse collapse")
              div(class="panel-body")
                div(class=progName + "-inner-text benefit-description")
                 ul(class="benefit-info-list accordion-panel-render-list")
                    // Opportunity
                    each panelSectionTitle, panelSectionKey in accordionPanelRenderList.opportunity
                      if progDesc[panelSectionKey]
                        li
                          h4= panelSectionTitle
                          div.panel-section-inner!= AUTOLINK(progDesc[panelSectionKey])
                    // Agency
                    each panelSectionTitle, panelSectionKey in accordionPanelRenderList.agency
                      if progDesc.agency[panelSectionKey]
                        li
                          h4= panelSectionTitle
                          div.panel-section-inner!= AUTOLINK(progDesc.agency[panelSectionKey])
                    // Requirements
                    if progDesc.requirements
                      h3 Requisitos
                      ol
                        each requirementData, reqKey in progDesc.requirements
                          li
                            h4= requirementData.name
                            each panelSectionTitle, panelSectionKey in accordionPanelRenderList.requirements
                              if requirementData[panelSectionKey]
                                  div.panel-section-inner!= AUTOLINK(requirementData[panelSectionKey])
          div(class="col-md-2 col-deadline col-" + progName)
            div(class=progName + "-inner-text")= progDesc.deadline

          div(class="col-md-2 col-est-time col-" + progName)
            div(class=progName + "-inner-text")= progDesc.estimatedTime
