// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins

mixin searchResultNav(searchResult)
  ul(class="nav nav-tabs nav-justified search-tabs results-tabs" role="tablist")
    li(class="active search-tab")
      a(href="#" id="all") Todos
    each benefitTypeName, benefitTypeMachineName in benefitTypes
      li.search-tab
        a(href="#" id=benefitTypeMachineName)= benefitTypeName

mixin renderResultList(searchResult)
  each benefitTypeName, benefitTypeMachineName in benefitTypes
    div(class=benefitTypeMachineName + '-container')
      +renderResultSubset(searchResult[benefitTypeMachineName], benefitTypeName, benefitTypeMachineName)

mixin renderResultSubset(benefitProgList, benefitTypeName, benefitTypeMachineName)
  - var resCountHeader = Object.keys(benefitProgList).length + ' ' + benefitTypeName
  div(class="row row-benefit-count row-" + benefitTypeMachineName)
    h3= resCountHeader

  div(class="row row-header row-" + benefitTypeMachineName)
    div(class="col-md-6 col-description-header")
      h4 Recursos

    div(class="col-md-3 col-deadline-header")
      h4 Vencimiento

    div(class="col-md-3 col-est-time-header")
      h4 Tiempo estimado de finalización

  div(class="panel-group" id="accordion")
    each progDesc, progName in benefitProgList
      - oppCount = oppCount + 1
      div(class="panel panel-default")
        div(class="row row-" + benefitTypeMachineName)
          div(class="col-md-6 col-description col-" + progName)
            if meta.type != 'confirmPicked'
              a(href="#" + progName + "Add" class="btn btn-small addItem" data-bname=progName data-btype=benefitTypeMachineName) agregar
            a(href="#" + oppCount  class="benefit-title" data-toggle="collapse" data-parent="#accordion")= progDesc.title
              i.fa.fa-sort-desc
            div(id=oppCount class="panel-collapse collapse")
              div(class="panel-body")
                div(class=progName + "-inner-text benefit-description")
                  strong
                    | Descripción:
                  = progDesc.description
                  br
                  strong
                    | Documentación requerida:
                  = progDesc.paperwork
                  br
                  strong
                    | Costo de Aplicación:
                  = progDesc.cost
                  br
                  strong
                    | Nombre de Agencia:
                  = progDesc.agencyName
                  br
                  if !_.isEmpty(progDesc.info)
                    strong
                      | Información Adicional:
                    = progDesc.info

          div(class="col-md-3 col-deadline col-" + progName)
            div(class=progName + "-inner-text")= progDesc.deadline

          div(class="col-md-3 col-est-time col-" + progName)
            div(class=progName + "-inner-text")= progDesc.estimatedTime
