// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins

mixin searchResultNav(searchResult)
  ul(class="nav nav-tabs nav-justified search-tabs" role="tablist")
    li(class="active search-tab")
      a(href="#" id="all") All
    each benefitList, benefitType in searchResult
      li.search-tab
        a(href="#" id=benefitType)= benefitType

mixin renderResultList(searchResult)
  each benefitList, benefitType in searchResult
    div(class=benefitType + '-container')
      +renderResultSubset(benefitList, benefitType)

mixin renderResultSubset(benefitList, benefitType)
  - var resCountHeader = Object.keys(benefitList).length + ' ' + benefitType
  div(class="row row-benefit-count row-" + benefitType)
    h3= resCountHeader

  div(class="row row-header row-" + benefitType)
    div(class="col-md-6 col-description-header")
      h4 Resource

    div(class="col-md-3 col-deadline-header")
      h4 Deadline

    div(class="col-md-3 col-est-time-header")
      h4 Estimated Time

  each benefitDesc, benefitName in benefitList
    div(class="row row-" + benefitType)
      div(class="col-md-6 col-description col-" + benefitName)
        h4= benefitDesc.title
        div(class=benefitName + "-inner-text")= benefitDesc.description

      div(class="col-md-3 col-deadline col-" + benefitName)
        div(class=benefitName + "-inner-text")= benefitDesc.deadline

      div(class="col-md-3 col-est-time col-" + benefitName)
        div(class=benefitName + "-inner-text")= benefitDesc.estimatedTime
