// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins

mixin searchResultNav(searchResult)
  ul(class="nav nav-tabs nav-justified search-tabs results-tabs" role="tablist")
    li(class="active search-tab")
      a(href="#" id="all") All
    each benefitList, benefitType in searchResult
      li.search-tab
        a(href="#" id=benefitType)= benefitType

mixin renderResultList(searchResult)
  each benefitList, benefitType in searchResult
    div(class=benefitType + '-container')
      +renderResultSubset(benefitList, benefitType)

mixin renderResultSubset(benefitList, benefitType)
  - var resCountHeader = Object.keys(benefitList).length + ' ' + benefitType
  div(class="row row-benefit-count row-" + benefitType)
    h3= resCountHeader

  div(class="row row-header row-" + benefitType)
    div(class="col-md-6 col-description-header")
      h4 Resource

    div(class="col-md-3 col-deadline-header")
      h4 Deadline

    div(class="col-md-3 col-est-time-header")
      h4 Estimated Response Time

  div(class="panel-group" id="accordion")
  - var oppCount = 1
    each benefitDesc, benefitName in benefitList
      - oppCount = oppCount + 1
      div(class="row row-" + benefitType)
        div(class="panel panel-default")
          div(class="col-md-6 col-description col-" + benefitName)
            if meta.type != 'leadSentConfirmation'
              a(href="#" + benefitName + "Add" class="addItem" data-bname=benefitName data-btype=benefitType)
                i.fa.fa-plus-circle.fa-2x
            a(href="##{n}" class="benefit-title" data-toggle="collapse" data-parent="#accordion")= benefitDesc.title

            div(id="#{n}" class="panel-collapse collapse")
              div(class="panel-body")
                div(class=benefitName + "-inner-text benefit-description")= benefitDesc.description

        div(class="col-md-3 col-deadline col-" + benefitName)
          div(class=benefitName + "-inner-text")= benefitDesc.deadline

        div(class="col-md-3 col-est-time col-" + benefitName)
          div(class=benefitName + "-inner-text")= benefitDesc.estimatedTime
