// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins

mixin searchResultNav(searchResult)
  ul(class="nav nav-tabs nav-justified search-tabs results-tabs" role="tablist")
    li(class="active search-tab")
      a(href="#" id="all") Todos
    each benefitList, benefitType in searchResult
      li.search-tab
        a(href="#" id=benefitType)= benefitType

mixin renderResultList(searchResult)
  each benefitList, benefitType in searchResult
    div(class=benefitType + '-container')
      +renderResultSubset(benefitList, benefitType)

mixin renderResultSubset(benefitList, benefitType)
  - var resCountHeader = Object.keys(benefitList).length + ' ' + benefitType
  div(class="row row-benefit-count row-" + benefitType)
    h3= resCountHeader

  div(class="row row-header row-" + benefitType)
    div(class="col-md-6 col-description-header")
      h4 Recursos

    div(class="col-md-3 col-deadline-header")
      h4 Vencimiento

    div(class="col-md-3 col-est-time-header")
      h4 Tiempo estimado de finalización

  div(class="panel-group" id="accordion")
    each benefitDesc, benefitName in benefitList
      - oppCount = oppCount + 1
      div(class="panel panel-default")
        div(class="row row-" + benefitType)
          div(class="col-md-6 col-description col-" + benefitName)
            if meta.type != 'confirmPicked'
              a(href="#" + benefitName + "Add" class="btn btn-small addItem" data-bname=benefitName data-btype=benefitType) agregar
            a(href="#" + oppCount  class="benefit-title" data-toggle="collapse" data-parent="#accordion")= benefitDesc.title

            div(id=oppCount class="panel-collapse collapse")
              div(class="panel-body")
                div(class=benefitName + "-inner-text benefit-description")
                  strong
                    | Propósito:
                  = benefitDesc.purpose
                  br
                  strong
                    | Descripción:
                  = benefitDesc.description
                  br
                  strong
                    | Documentación requerida:
                  = benefitDesc.paperwork
                  br
                  strong
                    | Costo de Aplicación:
                  = benefitDesc.cost
                  br
                  strong
                    | Nombre de Agencia:
                  = benefitDesc.agencyName
                  br
                  if !_.isEmpty(benefitDesc.info)
                    strong
                      | Información Adicional:
                    = benefitDesc.info

          div(class="col-md-3 col-deadline col-" + benefitName)
            div(class=benefitName + "-inner-text")= benefitDesc.deadline

          div(class="col-md-3 col-est-time col-" + benefitName)
            div(class=benefitName + "-inner-text")= benefitDesc.estimatedTime
